.footerDiv {
    width: 100%;
    background-color: var(--main--color);
    color: white;
    padding: 10px;
    position: relative;
}
.footerDiv > div {
    padding: 15px 5%;
}
.getStarted_Div {
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid rgba(245, 245, 245, 0.23);
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom:10px;
}
.getStarted_btn {
    border: none;
    padding: 13px 10px;
    background-color:white;
    color:var(--main--color);
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30px;
}
.getStarted_Div > a  {
    display: flex;
 }
 .getStarted_Div> a > img {
     height: 35px;
 }
 .getStarted_Div > span  {
    font-size: 14px;
    font-weight: 100;
 }
.menulist {
    display: flex;
    gap: 40px;
}
.menulist1, .menulist2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
} 
.footerDiv > div > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    padding:10px;
    padding-top: 3%;
    cursor: pointer;
    margin-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
}
.vectorIcon {
      display: flex;
      justify-content: flex-end;
      align-items:flex-start;
      gap:10px;
      margin-right:auto;
      
}
.vectorIcon >  img {
    width: 20px;
    display: flex;
    justify-content: center;
    height: 20px;
}
.footerDiv > div > div:nth-child(2) > span {
    display: flex;
    justify-content: center;
}
.newsletterIcon_Div > p {
    margin-bottom: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}
.newsletterIcon_Div > input {
    border-radius: 12px;
    border: 1px solid var(--btn-color1);
    padding: 7px;
    width: min(190px,80%);
}
.newsletterIcon_Div > input:focus {
    outline: none;
}
.newsletterIcon_Div {
   margin-bottom: 10px;
} 
.footerBtn {
    border: none;
    background-color: #fff;
    color:var(--main--color);
    width: 70px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 12px;
    height: 30px;
}
.newsletterIcon_Div > span {
    align-items: center;
    align-content: center;
    align-self: center;
}
.footerDiv > div > span {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 5%;
}
.footerDiv > div > span > p {
    font-size: 15px;
}
@media screen and (max-width:780px) {
    .footerDiv > div {
        padding: 15px 3%;
    }
    .getStarted_Div {
        display: flex;
        flex-direction: column;
        border-bottom:1px solid rgba(245, 245, 245, 0.23);
        padding-left: 5%;
        padding-right:5%;
        padding-bottom:10px;
        gap: 20px;
        margin-bottom: 5px;
    }
    .getStarted_btn {
        padding: 8px 10px;
    }
    .footerDiv > div > div:nth-child(2) {
        display: flex;
        flex-direction: column;
    }
    .menulist {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    .menulist1, .menulist2 {
        display: flex;
        flex-direction: column;
        gap:10px;
    } 
    .newsletterIcon_Div {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .newsletterIcon_Div > p {
        margin-bottom: -3px;
    }
    .footerDiv > div > div:nth-child(2)  {
        display: flex;
        align-items: flex-start;
    }
    .footerDiv > div >div:nth-child(2) >.newsletterIcon_Div {
        order: 1;
    }
    .footerDiv > div >div:nth-child(2) > span {
        position:relative;
        left:-0.9%;
        display: flex;
        gap: 15px;
        order: 3;
        margin-top: 10px;
    }
    .footerDiv > div >div:nth-child(2) > .menulist {
        order: 2;
    }
    .newsletterIcon_Div > input {
     
        width: min(350px,80%) !important;
    }

}