nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 20px 7%;
    box-shadow:  -4px 0px 5px 1px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    position: fixed;
}
.logo > a  {
   display: flex;
}
.logo > a > img {
    height: 35px;
}
nav > div:nth-child(2) {
    display: flex;
    width: calc(100% - 115px);
    justify-content: center;
    align-items: center;
    transform: translate(0);
}
nav > div:nth-child(2) > div{
    display: none;
}
nav > div:nth-child(2) > ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}
nav > div:nth-child(2) > ul > li > a {
    text-decoration: none;
    position: relative;
    color: var(--main--color);
    
}
nav > div:nth-child(2) > ul > li > a::after {
    position:absolute;
    left:0;
    width:0;
    height: 3px;
    top:20px;
    content: '';
    background-color: var(--main--color);
    transition: width 0.4s;
}
nav > div:nth-child(2) > ul > li > a:hover::after {
    width:100%;
}

nav > div:nth-child(3) {
    display: flex;
    gap: 25px;
}
.nav_btn {
    border: none;
    padding: 13px 10px;
    background-color: var(--btn-color1);
    color: white;
    width: 85px;
    border-radius: 7px;
    cursor: pointer;
}


/** Hamburger  & closebtn hidden on Large screen ***/
.logo > .Menu_Icon {
    display: none;
}
nav > div:nth-child(2) > ul > li >  span{
    display: none;
}

@media screen and (max-width: 1000px) {


    /*** Navbar Responsive web design styling ****/
    .logo {
        width: 100%;
        display: flex;
        justify-content:space-between;
    }
    .logo > .Menu_Icon  {
        display: flex;
        height: 40px;
        justify-content: flex-end;
        cursor: pointer;
    }
  
    nav > div:nth-child(2) {
        display: flex;
        justify-content: flex-end;
        position: fixed;
        transform:translate(-100%);
        height:100%;
        top:0;
        right: 0;
        width:100%;
        z-index:10000;
    }
    nav > div:nth-child(2) > ul > li {
        width: fit-content;
    }
    nav > div:nth-child(2) > ul > li >  span{
        display: flex;
        font-size: 50px;
        cursor: pointer;
    }
    nav > div:nth-child(2) > ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 100%;
        gap:40px;
        color: white;
        background-color: var(--btn-color1);
        width:max(250px,45%);
        padding-left:3% ;
    }
    nav > div:nth-child(2) > ul > li > a {
        color: white;
        font-size: 20px;
        text-align: left;
    }
    .nav_btn {
        border: none;
        padding: 13px 10px;
        background-color:white;
        color:var(--main--color);
        width: 85px;
        border-radius: 7px;
    }
    nav > div:nth-child(3) {
        display: none;
    }
    nav > div:nth-child(2) > div{
        display: inline-block;
        width:100%;
        height: 100%;
        position: absolute;
        background-color: rgba(100,100,255, 0.2);
        top:0;
        left:0;
    }
    .RWD_Nav_Menu {
        transform: translate(0) !important;
        display: flex !important;
        flex-direction: column;
    }
    .RWD_Nav_Menu > ul{
        align-self: flex-end;
        z-index: 1;
    }
    .resBtn {
        margin-top:auto;
        padding:10px 0px
    }
    .resBtn > span {
        display: flex;
        gap: 20px;
    }
    
}