

.home {
    position: relative;
  
   
}
.home > .bannerDiv {
    height:auto;
    display: flex;
    width: 100%;
    background-image: url("../../assets/images/BannerDiv.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    text-align: center;
    margin-bottom: 70px;
    border: 1px solid #f5f5f5;
}
.bannerDiv > .bannerCon {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 100%;
    padding: 10px 5%;
    padding-top: 5%;
}
.bannerDiv > .bannerCon > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}
.bannerDiv > .bannerCon > div:nth-child(1) > h1 {
    width: 340px;
    flex-direction: column;
    display: flex;
    align-self: center;
    color: var(--main--color);
    font-size: 35px;
    font-weight: bold;
    margin-top: 80px;
    padding: 3px;
}
.bannerDiv > .bannerCon > div:nth-child(1) > p {
    display: flex;
    font-size: 13px;
    flex-direction: column;
    align-self: center;
    width: 450px;
    font-size: 12px;
    color: var(--main--color);
    padding: 3px;
    font-weight: bold;
    line-height: 1.5;
}
.bannerDiv > .bannerCon > div:nth-child(2)  {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 30px;

    height:30vh;
    box-shadow: 1px 1px 41px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    background-color: #fff;
    border-radius: 10px;
}
.bannerDiv > .bannerCon > div:nth-child(2) > div p {
    color: var(--main--color);
    font-size: 20px;
    font-weight: 500px;
    margin-bottom: 10px;
}
.bannerDiv > .bannerCon > div:nth-child(2) > div {
    display: flex;
    flex-direction:column;
    justify-content: center;
    gap: 10px;
}
.bannerDiv > .bannerCon > div:nth-child(2) > div > div:nth-child(1) {
    display: flex;
    flex-direction:row;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 30%;
}
.bannerDiv > .bannerCon > div:nth-child(2) > div > div:nth-child(1) > div {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}
.local{
   margin-left: 100px;
}
.bannerDiv > .bannerCon > div:nth-child(2) > div > div:nth-child(2)  {
    flex-direction: row;
    display: flex;
    gap: 100px;
    justify-content: center;
}
.bannerDiv > .bannerCon > div:nth-child(2) > div > div:nth-child(2) > div {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.bannerDiv > .bannerCon > div:nth-child(2) > div > div > input:focus, select:focus {
    outline: none;
}
.select_item {
    cursor: pointer;
    color: #f5f5f5;
}
.bannerDiv > .bannerCon > div:nth-child(2) > div > div > div input, select, input:focus {
    height: 35px;
    border: 1px solid var(--btn-color1);
    border-radius: 5px;
    padding: 10px;
    font-size: 10px;
    padding-left: 20px;
    outline: none;
}
.bannerDiv > .bannerCon > div:nth-child(2) >div > div > div >div:nth-child(1) > img {
    height: 12px;
    position: absolute;
    left: 4.5%;
    top: 42%;
}
.bannerDiv > .bannerCon > div:nth-child(2) > div > div > div > div:nth-child(2) > img {
    height: 12px;
    position: absolute;
    left:28%;
    top:42%;
}
.priceBtn {
    border: none;
    padding: 13px 13px;
    background-color:var(--main--color);
    color:#fff;
    width: 100px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 10px;
}
.priceBtnDiv {
    align-self: flex-end;
    padding-right: 5px;
    margin-bottom: 20px;
}


/***** Responsiveness design  starts here****/
@media screen  and (max-width : 900px ) {
    .bannerDiv > .bannerCon > div:nth-child(2)  {
        height:auto;
        box-shadow: 1px 1px 41px 4px rgba(0, 0, 0, 0.25);
        background-color: var(--main--color);
        width: 100%;
        border-radius:0px;
        margin-bottom: -20px;
    }
    .bannerDiv > .bannerCon > div:nth-child(2) > div > div:nth-child(2) > div {
        flex-direction: column !important;
        display: flex !important;
    }
  
.locationIcon_respon1 {
  display: none;
}

.bannerHeader_tag {
  font-size: 26px !important;
  width: 280px !important;
}
.bannerParagraph_tag {
    width: 95% !important;
}
.priceBtn {
    padding: 13px 13px;
    background-color:#fff;
    color:var(--main--color);
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}
.priceBtnDiv {
    align-self: center;
}

.bannerDiv > .bannerCon > div:nth-child(2) > div > div:nth-child(2)  {
    flex-direction: column;
    display: flex;
    gap:10px;
    justify-content: center;
}
.bannerDiv > .bannerCon > div:nth-child(2) > div > div:nth-child(2) > div {
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.bannerDiv > .bannerCon > div:nth-child(2) > div > div > div input, select, input:focus {
    height: 35px;
    border: 1px dotted #fff;
    border-radius: 10px;
    padding: 10px;
    font-size: 10px;
    outline: none;
    color: #fff;
    background-color: var(--main--color);
}
::placeholder {
    color: #fff !important;
}
.bannerInput {
    width: 100%;
}
.bannerDiv > .bannerCon > div:nth-child(2) > div > div:nth-child(1) {
    display: flex;
    flex-direction:row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.bannerDiv > .bannerCon > div:nth-child(2) > div > div:nth-child(1) > div >p {
    color: #fff;
    font-weight: 300;
}
.local {
   margin-left:0px;
}
.bannerDiv > .bannerCon > div:nth-child(2) > div > div:nth-child(1) > div {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}
}

@media screen  and (max-width : 500px ) {
    .bannerDiv > .bannerCon > div:nth-child(1) > h1 {
        width: 100% !important;
        font-size: 30px;
        font-weight: bold;
    }
    .bannerDiv > .bannerCon > div:nth-child(1) > p {
        width: 90%;
    }
}