.home {
    position: relative;
}
.home > .bannerDiv {
    height:70vh;
    display: flex;
    width: 100%;
    background-image: url("../../assets/images/BannerDiv.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    text-align: center;
}
.bannerDiv > .bannerCon {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    width: 100%;
    padding: 10px 5%;
    padding-top: 5%;
}
.bannerDiv > .bannerCon > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}
.bannerDiv > .bannerCon > div:nth-child(1) > h1 {
    width: 320px;
    flex-direction: column;
    display: flex;
    align-self: center;
    color: var(--main--color);
    font-size: 35px;
    font-weight: bold;
    padding: 3px;
}
.bannerDiv > .bannerCon > div:nth-child(1) > p {
    display: flex;
    font-size: 12px;
    flex-direction: column;
    align-self: center;
    width: 400px;
    font-size: 12px;
    color: var(--main--color);
    padding: 3px;
    font-weight: 300;
}
.bannerDiv > .bannerCon > div:nth-child(2)  {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
    margin: auto;
    height:30vh ;
    box-shadow: 1px 1px 41px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    background-color: #fff;
}
.bannerDiv > .bannerCon > div:nth-child(2) > div > p {
    color: var(--main--color);
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}
.bannerDiv > .bannerCon > div:nth-child(2) > div {
    display: flex;
    gap: 10px;
    flex-direction: row
}
.bannerDiv > .bannerCon > div:nth-child(2) > div > input {
    height: 35px;
    border: 1px solid var(--btn-color1);
    border-radius: 5px;
}
.bannerDiv > .bannerCon > div:nth-child(2) > div >.inputIcons > input {
    height: 35px;
    border: 1px solid var(--btn-color1);
    border-radius: 5px;
}
.bannerDiv > .bannerCon > div:nth-child(2) > div >img {
    
}
.locationTracker {
   display: flex;
   flex-direction: column;
}
