.firstSectionCon {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 30px 0 0;
    align-items: center;
}
.firstSectionCon > div {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  width: var(--developers--width);
  padding-top: 2%;
  padding-left: 5%;
  align-items: center;
  padding-right: 6%;
}
.firstSectionCon > div >  div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
}
.firstSectionCon > div >  div > h1 {
    color: var(--main--color);
    width: 400px;
    font-size: 35px;
    font-weight: bold;
}
.firstSectionCon > div >  div  > p {
    font-weight: 400;
    font-size: 15px;
    max-width: 450px;
    line-height: 1.6;
    color: #000000;
}
.firstSectionCon >div >  img {
    width: 350px;
}
.get_startedbtn {
    border: none;
    padding: 13px 10px;
    background-color:var(--main--color);
    color:#fff;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;

}
.secondSectionCon {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 30px 0 0;
    align-items: center;
}
.secondSectionCon > div {
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: var(--developers--width);
    padding-top: 2%;
    align-items: center;
}
.secondSectionCon > div > h1 {
    text-align: center;
    color: var(--main--color);
    font-size: 25px;
    font-weight: 700;
}
.imagePartners {
  width:1000px;
  margin-bottom: 20px;
}
.imagePartner {
  width: 300px;
  margin-bottom: 20px;
}
@media screen and (max-width:1029px) {
   .imagePartners {
    width: max(90%,350px);
   }
}
@media screen and (max-width:990px) {
    .firstSectionCon >  div {
          flex-direction: column;
          width: fit-content;
          gap: 50px;
          justify-content: center;
    }
    .firstSectionCon > div >  div > h1 {
       width: 90%;
    }

}
@media screen and (max-width:600px) {
    .firstSectionCon >div >  img {
        display: none;
    }
    .firstSectionCon > div >  div > h1 {
        color: var(--main--color);
        font-size: 23px;
        font-weight: bold;
        width:320px;
    }
}
@media screen and (max-width:500px) {
    .imagePartner {
        width: 70%;
    }
    .secondSectionCon > div > h1 {
        font-size: 20px;
        width: 280px;
    }
}