.TermsDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.TermsDiv > div {
    width: var(--developers--width);
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 40px;
}
.TermsDiv > div > h1 {
    text-align: center;
    color: var(--main--color);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 100px;
}
.TermsDiv > div > div {
    display: flex;
    gap: 40px;
}
.TermsDiv > div > div > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 6px 4px 16px 3px rgba(0, 0, 0, 0.25);
}
.TermsDiv > div > div > div:nth-child(1) > span {
    font-size: 18px;
    color: var(--btn-color1);
}
.TermsDiv > div > div > div:nth-child(2) {
    flex-direction: column;
    display: flex;
}
.Itemdiv > h1 {
    font-weight: 700;
}