.TermsDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 60px;
}
.TermsDiv > div {
    display: flex;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.TermsDiv > div > h1 {
    text-align: center;
    color: var(--main--color);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 60px;
}
.TermsDiv > div > div {
    display: flex;
    gap: 60px;
    padding-top: 10px;
}
.TermsDiv > div > div > div:nth-child(1) {
    display: flex;
    padding: 10px;
    padding-left: 20px;
    flex-direction: column;
    gap: 20px;
    box-shadow: 6px 4px 16px 3px rgba(0, 0, 0, 0.25);
    align-items:flex-start;
    width: 200%;
    height: 850px;

}
.TermsDiv > div > div > div:nth-child(1) > span {
    font-size: 14px;
    color: var(--btn-color1);
    cursor: pointer;
}
.TermsDiv > div > div > div:nth-child(2) {
    flex-direction: column;
    display: flex;
    gap: 20px;
}
.Itemdiv > h3 {
    font-weight: bold;
    margin-bottom: 15px;
}
.Itemdiv > p {
    font-size: 13px;
    line-height: 1.6;
    width: 90%;
}
.restriction {
    margin-bottom: 10px;
}
@media only screen and (max-width:1029px) {
    .TermsDiv > div > div > div:nth-child(1) {
        width: 300%;
    }
}
@media only screen and (max-width:990px) {
    .TermsDiv > div > div > div:nth-child(1) {
        width: 400%;
    }
}
@media only screen and (max-width:835px) {
    .TermsDiv > div > div > div:nth-child(1) {
        display: none;
    }
    .TermsDiv {
        align-items: center;
    }
    .TermsDiv > div {
        width:100%;
        padding: 10px;
        justify-content: center;
    }
    .Itemdiv > p {
        text-align: justify;
     }
  
}
@media only screen and (max-width:430px) {
 .Itemdiv > h3 {
    font-size: 15px;
 }
 
}